<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Created by {{name}}</p>
        <form>
            <input type="text" placeholder="Location"/>
            <button>Search</button>
        </form>
        <p id="message-1"></p>
    </div>

    {{>footer}}
    <script type="application/javascript" src="/js/app.js"></script>
</body>

</html>